<!-- <div class="container">
  <div *ngFor="let nea of news; let i = index" class="card" style="width: 18rem;">
    <div class="card" style="width: 18rem;">
      <div class="card-title">
        <p class="card-text">Capital: {{news[i].title}}</p>
      </div>
      <div class="card-body">
        <a href="{{news[i].url}} " target="_bblank"><img src="{{news[i].urlToImage}}" style="width: 15rem; height: 15rem;"></a>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <ul class="list-group" *ngFor="let nea of news; let i = index" >
    <p></p>
    <li class="list-group-item">
      Title: {{news[i].title}}<br>
      <a href="{{news[i].url}}" target="_blank">
        <img src="{{news[i].urlToImage}}" style="height: 15rem; width: 15rem;">
      </a>
      <p>
        {{news[i].description}}
      </p>
      Author: {{news[i].author}}<br>
    </li>
  </ul>
</div>
