<div class="container">
  <form [formGroup]="formViewPatientData">
 
    <h3>Click to see all data of a specific patient over a time range:</h3>
  
  
    <!-- From date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date from</label>
      <input type="date" 
             class="form-control" 
             id="from" 
             placeholder="Enter from date" 
             formControlName = "from">
      <div *ngIf="formViewPatientData.get('from').errors?.required && formViewPatientData.get('from').dirty" class="text-danger">
        Field is required
      </div>
    </div>  
    <!-- /From date entry -->
  
    <!-- To date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date to</label>
      <input type="date" 
            class="form-control" 
            id="to" 
            formControlName="to">
      <div *ngIf="formViewPatientData.get('to').errors?.required && formViewPatientData.get('to').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <!-- /To date entry -->
  
    <button class="btn btn-primary" (click)="clickViewPatientData()">
      Choose
    </button>
  </form>
  <div id="wrapper">
    <div
      class="card cards-margin"
      style="width: 18rem"
      *ngFor="let carb of listOfCarbs;">
      <div class="card-body">
        <h5 class="card-title">Carb #{{carb.id}}</h5>
        <p *ngIf="!!carb.gram" class="card-text">{{ carb.gram}} Grams</p>
        <p  *ngIf="!!carb.date" class="card-text">Date: {{ carb.date | date }}</p>
        <p *ngIf="!!carb.patient_id" class="card-text">PatientId: {{ carb.patient_id}}</p> 
        <p *ngIf="!!patient.diabetesType" class="card-text">Diabetes Type: {{patient.diabetesType | titlecase}}</p>
      </div>
    </div>
  </div>



</div>
