<div class="container">
  <form [formGroup]="formViewInactivePatients">
 
    <!-- From date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date from</label>
      <input type="date" 
             class="form-control" 
             id="from" 
             placeholder="Enter from date" 
             formControlName = "from">
      <div *ngIf="formViewInactivePatients.get('from').errors?.required && formViewInactivePatients.get('from').dirty" class="text-danger">
        Field is required
      </div>
    </div>  
    <!-- /From date entry -->
  
    <!-- To date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date to</label>
      <input type="date" 
            class="form-control" 
            id="to" 
            formControlName="to">
      <div *ngIf="formViewInactivePatients.get('to').errors?.required && formViewInactivePatients.get('to').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <!-- /To date entry -->
  
   
    <div id="wrapper">
      <div
      class="card cards-margin"
      style="width: 18rem"
      *ngFor="let patient of listOfPatients; let id = index;">
      <img src="/assets/img/user.png" class="card-img-top" alt="..."  width="128px" height="256px" />
      <div class="card-body">
        <h5 class="card-title">Patient: {{patient.username}}</h5>
        <p *ngIf="!!patient.firstName" class="card-text">FirstName: {{ patient.firstName | titlecase }}</p>
        <p  *ngIf="!!patient.lastName" class="card-text">LastName: {{ patient.lastName | titlecase }}</p>
        <p *ngIf="!!patient.city" class="card-text">City: {{ patient.city | titlecase}}</p>
          <hr/>
        </div>
      </div>
  </div>

  Click to see patients with no activity over a time range:
  <button class="btn btn-primary" (click)="clickViewInactivePatients()">
    Choose
  </button>
  
  
  </form>

</div>