<div class="container">
  <div id="wrapper">
    <div
      class="card cards-margin"
      style="width: 18rem"
      *ngFor="let patient of listOfFreePatients; let id = index;">
      <img src="/assets/img/user.png" class="card-img-top" alt="..."  width="128px" height="256px" />
      <div class="card-body">
        <h5 class="card-title">Patient: {{patient.username}}</h5>
        <p class="card-text">id: {{ patient.patient_id }}</p>
        <p *ngIf="!!patient.firstName" class="card-text">FirstName: {{ patient.firstName | titlecase }}</p>
        <p *ngIf="!!patient.lastName" class="card-text">LastName: {{ patient.lastName | titlecase }}</p>
        <p *ngIf="!!patient.city" class="card-text">City: {{ patient.city | titlecase}}</p>
        <a class="card-link" [routerLink]="['/seePatientsData']" (click)="getPatientsData(patient.patient_id)">See patients data</a>
        <hr/>
      </div>
    </div>
  </div>
</div>
