<nav *ngIf="isLogged && role==='patient'" class="navbar navbar-expand-lg bg-light">
  <ul class="nav nav-pills" id="menu">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['patient']">Welcome {{username}}</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="patient/" role="button" aria-haspopup="true"
        aria-expanded="false">Patient</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="patient/patient-update/" [routerLink]="['updatePatient']">Edit your Profile</a>
        <a class="dropdown-item" href="patient/" [routerLink]="['deletePatient']">Delete your Profile</a>
        <a class="dropdown-item" href="patient/" [routerLink]="['seeMydata']">View my data</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="patient/carb/" role="button" aria-haspopup="true"
        aria-expanded="false">Carb</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="patient/carb/carb-entry/" [routerLink]="['insertCarbEntry']">Insert carb
          entry</a>
        <a class="dropdown-item" href="patient/carb/carb-list/" [routerLink]="['viewAverageCarbIntake']">My Average Carb Intake
         </a>
        <a class="dropdown-item" href="patient/carb/carb-update/" [routerLink]="['updateCarbEntry']">Update carb
          entry</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="patient/glucose/" role="button"
        aria-haspopup="true" aria-expanded="false">Glucose</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="patient/glucose/glucose-entry/" [routerLink]="['insertGlucoseEntry']">Insert
          glucose entry</a>
        <a class="dropdown-item" href="patient/glucose/glucose-list/"
          [routerLink]="['viewAverageGlucoseIntake']">Glucose fluctuation chart</a>
        <a class="dropdown-item" href="patient/glucose/glucose-update" [routerLink]="['updateGlucoseEntry']">Update
          glucose entry</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link notification" data-toggle="dropdown" href="myNotes" [routerLink]="['myNotes']" role="button"
        aria-haspopup="true" aria-expanded="false">My consultations <span *ngIf="notification!=0" class="badge">{{notification}}</span></a>

      
    </li>
    <li>
      <button id="logoutBtn" class="btn btn-outline-danger my-2 my-sm-0" (click)="logOut()">LOG OUT</button>
    </li>
  </ul>
</nav>



<nav *ngIf="isLogged && role==='doctor'" class="navbar navbar-expand-lg bg-light">
  <ul class="nav nav-pills" id="menu">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['doctor']">Welcome Dr. {{lastName}}</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Account</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="">Delete Account</a>

      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Patient</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['seeMyPatients']">My patients</a>
        <a class="dropdown-item" [routerLink]="['seeFreePatients']">Available patients</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="doctor/notes" role="button" aria-haspopup="true"
        aria-expanded="false">Consultations</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="updateNote/" [routerLink]="['updateNote']">Update Note</a>
      </div>
    </li>
    <li>
      <button id="logoutBtn" class="btn btn-outline-danger my-2 my-sm-0" (click)="logOut()">LOG OUT</button>
    </li>
  </ul>
</nav>


<nav *ngIf="isLogged && role==='admin'" class="navbar navbar-expand-lg bg-light">
  <ul class="nav nav-pills" id="menu">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['admin']">Welcome {{username}}</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="admin/" role="button" aria-haspopup="true"
        aria-expanded="false">Patients</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="viewInactivePatients" [routerLink]="['viewInactivePatients']">View Inactive Patients</a>
        <a class="dropdown-item" href="waitingPatients" [routerLink]="['waitingPatients']">View Waiting Patients </a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="admin/" role="button" aria-haspopup="true"
        aria-expanded="false">Doctors</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="viewInactiveDoctors" [routerLink]="['viewInactiveDoctors']">View Inactive Doctors</a>

      </div>
    </li>

    <li>
      <button id="logoutBtn" class="btn btn-outline-danger my-2 my-sm-0" (click)="logOut()">LOG OUT</button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>