<div class="container">
<p>patient-register works!</p>
<form [formGroup]="formPatientRegister">
  
      <!-- Username entry -->
      <div class="form-group">
        <label for="formGroupExampleInput2">username</label>
        <input type="text" 
               class="form-control" 
               id="username" 
               placeholder="Insert a username"
               formControlName="username">
        <div *ngIf="formPatientRegister.get('username').errors?.required && formPatientRegister.get('username').dirty" class="text-danger">
          Field is required
        </div>
      </div>
      <!-- /Username entry -->

    <!-- Firstname entry -->
    <div class="form-group">
      <label for="formGroupExampleInput2">firstName</label>
      <input type="text" 
             class="form-control" 
             id="firstName" 
             formControlName="firstName">
      <div *ngIf="formPatientRegister.get('firstName').errors?.required && formPatientRegister.get('firstName').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <!-- /Firstname entry -->
        <!-- Lastname entry -->
        <div class="form-group">
            <label for="formGroupExampleInput2">Lastname</label>
            <input type="text" 
                   class="form-control" 
                   id="lastName" 
                   formControlName="lastName">
            <div *ngIf="formPatientRegister.get('lastName').errors?.required && formPatientRegister.get('lastName').dirty" class="text-danger">
              Field is required
            </div>
          </div>
          <!-- /LastName entry -->

<!-- DateOfBirth entry -->
    <div class="form-group">
        <label for="formGroupExampleInput2">Date Of Birth</label>
        <input type="date" 
               class="form-control" 
               id="dateOfBirth" 
               formControlName="dateOfBirth">
        <div *ngIf="formPatientRegister.get('dateOfBirth').errors?.required && formPatientRegister.get('dateOfBirth').dirty" class="text-danger">
          Field is required
        </div>
      </div>
      <!-- /DateOfBirth entry -->
      
<!-- Address entry -->
    <div class="form-group">
        <label for="formGroupExampleInput2">address</label>
        <input type="text" 
               class="form-control" 
               id="address" 
               formControlName="address">
        <div *ngIf="formPatientRegister.get('address').errors?.required && formPatientRegister.get('address').dirty" class="text-danger">
          Field is required
        </div>
      </div>
      <!-- /Address entry -->

      <!-- Phonenumber entry -->
    <div class="form-group">
        <label for="formGroupExampleInput2">PhoneNumber</label>
        <input type="text" 
               class="form-control" 
               id="phoneNumber" 
               formControlName="phoneNumber">
        <div *ngIf="formPatientRegister.get('phoneNumber').errors?.required && formPatientRegister.get('phoneNumber').dirty" class="text-danger">
          Field is required
        </div>
      </div>
      <!-- /phoneNumber entry -->

            <!-- City entry -->
    <div class="form-group">
        <label for="formGroupExampleInput2">City</label>
        <input type="text" 
               class="form-control" 
               id="city" 
               formControlName="city">
        <div *ngIf="formPatientRegister.get('city').errors?.required && formPatientRegister.get('city').dirty" class="text-danger">
          Field is required
        </div>
      </div>
      <!-- /City entry -->

    <button class="btn-primary" [disabled]="!formPatientRegister.valid" (click)="clickRegisterPatient()">Submit</button>
  </form></div>