<h4>Edit your profile</h4>

<form [formGroup]="formPatientUpdate">

  <!-- Id entry -->
  <div class="form-group">
    <label for="formGroupExampleInput2">Id</label>
    <input type="number" class="form-control" id="id" placeholder="Insert an id" formControlName="id">
    <div *ngIf="formPatientUpdate.get('id').errors?.required && formPatientUpdate.get('id').dirty" class="text-danger">
      Field is required
    </div>
  </div>
  <!-- /Id entry -->

  <!-- Firstname entry -->
  <div class="form-group">
    <label for="formGroupExampleInput2">Firstname</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName"
      placeholder="Update your firstname">

  </div>
  <!-- /Firstname entry -->

  <!-- Lastname entry -->
  <div class="form-group">
    <label for="formGroupExampleInput2">Lastname</label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Update your lastname">

  </div>
  <!-- /LastName entry -->

  <!-- DateOfBirth entry -->
  <div class="form-group">
    <label for="formGroupExampleInput2">Date Of Birth</label>
    <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"
      placeholder="Update the date of your birthday">
  </div>
  <!-- /DateOfBirth entry -->

  <!-- Address entry -->
  <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" class="form-control" id="address" formControlName="address" placeholder="Update your address">

  </div>
  <!-- /Address entry -->

  <!-- Phonenumber entry -->
  <div class="form-group">
    <label for="formGroupExampleInput2">PhoneNumber</label>
    <input minlength="10" maxlength="10" type="text" class="form-control" id="phoneNumber"
      placeholder="Update your phonenumber" formControlName="phoneNumber">
    <div *ngIf="formPatientUpdate.get('phoneNumber').errors?.minlength">
      Phone number must contains 10 digits
    </div>
  </div>
  <!-- /phoneNumber entry -->

  <!-- City entry -->
  <div class="form-group">
    <label for="formGroupExampleInput2">City</label>
    <input type="text" class="form-control" id="city" formControlName="city" placeholder="Update your city">
  </div>
  <!-- /City entry -->

  <button class="btn-primary" [disabled]="!formPatientUpdate.valid" (click)="clickPatientUpdateSubmit()">Submit the
    update data</button>
</form>