<div class="container">
<h4>Edit your profile</h4>

<form [formGroup]="formPatientUpdate">


  <!-- Firstname entry -->
  <div class="form-group">
    <input type="text" class="form-control" id="firstName" formControlName="firstName"
      placeholder="first name">

  </div>
  <!-- /Firstname entry -->

  <!-- Lastname entry -->
  <div class="form-group">
    <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="last name">

  </div>
  <!-- /LastName entry -->

  <!-- DateOfBirth entry -->
  <div class="form-group">
    <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"
      placeholder="date of birth">
  </div>
  <!-- /DateOfBirth entry -->

  <!-- Address entry -->
  <div class="form-group">
    <input type="text" class="form-control" id="address" formControlName="address" placeholder="address">

  </div>
  <!-- /Address entry -->

  <!-- Phonenumber entry -->
  <div class="form-group">
    <input minlength="10" maxlength="10" type="text" class="form-control" id="phoneNumber"
      placeholder="phone number" formControlName="phoneNumber">
    <div *ngIf="formPatientUpdate.get('phoneNumber').errors?.minlength">
      Phone number must contains 10 digits
    </div>
  </div>
  <!-- /phoneNumber entry -->

  <!-- City entry -->
  <div class="form-group">
    <input type="text" class="form-control" id="city" formControlName="city" placeholder="city">
  </div>
  <!-- /City entry -->

  <button class="btn btn-primary" [disabled]="!formPatientUpdate.valid" (click)="clickPatientUpdateSubmit()">Update profile</button>
</form>
</div>