<div class="container">
<form [formGroup]="formCarbEntry">
  <h3>Insert a carb entry</h3>
  <!-- Grams entry -->
  <div class="form-group">
    <label for="formGroupExampleInput">Grams</label>
    <input type="text" 
           class="form-control" 
           id="gram" 
           placeholder="Enter number of grams" 
           formControlName = "gram">
    <div *ngIf="formCarbEntry.get('gram').errors?.required && formCarbEntry.get('gram').dirty" class="text-danger">
      Field is required
    </div>
  </div>  
  <!-- /Grams entry -->

  <!-- Date entry -->
  <div class="form-group">
    <label for="formGroupExampleInput">Date</label>
    <input type="date" 
          class="form-control" 
          id="date" 
          formControlName="date">
    <div *ngIf="formCarbEntry.get('date').errors?.required && formCarbEntry.get('date').dirty" class="text-danger">
      Field is required
    </div>
  </div>
  <!-- /Date entry -->

  <button class="btn btn-primary" [disabled]="!formCarbEntry.valid" (click)="clickCarbEntrySubmit()">Submit</button>

</form>

<div *ngIf="resultDiv==1" class="alert alert-success mt-2" role="alert">
  Entry Added!
</div>

<div *ngIf="resultDiv==-1" class="alert alert-danger mt-2" role="alert">
  There was a problem! Try again...
</div>

</div>