<div class="container">
  <form [formGroup]="formGlucoseEntry">
  
    <h3>Insert a glucose entry</h3>
    <!-- Glucose entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Glucose</label>
      <input type="text" 
             class="form-control" 
             id="measurement" 
             placeholder="Enter number of blood glucose" 
             formControlName = "measurement">
      <div *ngIf="formGlucoseEntry.get('measurement').errors?.required && formGlucoseEntry.get('measurement').dirty" class="text-danger">
        Field is required
      </div>
    </div>  
    <!-- /glucose entry -->
  
    <!-- Date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput2">Date</label>
      <input type="date" 
             class="form-control" 
             id="dateTime" 
             formControlName="dateTime">
      <div *ngIf="formGlucoseEntry.get('dateTime').errors?.required && formGlucoseEntry.get('dateTime').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <!-- /Date entry -->

    <button class="btn btn-primary" [disabled]="!formGlucoseEntry.valid" (click)="clickGlucoseEntrySubmit()">Submit</button>
  </form>

  <div *ngIf="resultDiv==1" class="alert alert-success mt-2" role="alert">
    Entry Added!
  </div>
  
  <div *ngIf="resultDiv==-1" class="alert alert-danger mt-2" role="alert">
    There was a problem! Try again...
  </div>


</div>