<form [formGroup]="formGlucoseEntry">
  
    <!-- Glucose entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Glucose</label>
      <input type="text" 
             class="form-control" 
             id="measurement" 
             placeholder="Enter number of blood glucose" 
             formControlName = "measurement">
      <div *ngIf="formGlucoseEntry.get('measurement').errors?.required && formGlucoseEntry.get('measurement').dirty" class="text-danger">
        Field is required
      </div>
    </div>  
    <!-- /glucose entry -->
  
    <!-- Date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput2">Date</label>
      <input type="date" 
             class="form-control" 
             id="dateTime" 
             formControlName="dateTime">
      <div *ngIf="formGlucoseEntry.get('dateTime').errors?.required && formGlucoseEntry.get('dateTime').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <!-- /Date entry -->

    <button class="btn-primary" [disabled]="!formGlucoseEntry.valid" (click)="clickGlucoseEntrySubmit()">Submit</button>
  </form>