<div class="container"><form [formGroup]="formViewInactiveDoctors">
  
    <!-- From date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date from</label>
      <input type="date" 
             class="form-control" 
             id="from" 
             placeholder="Enter from date" 
             formControlName = "from">
      <div *ngIf="formViewInactiveDoctors.get('from').errors?.required && formViewInactiveDoctors.get('from').dirty" class="text-danger">
        Field is required
      </div>
    </div>  
    <!-- /From date entry -->
  
    <!-- To date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date to</label>
      <input type="date" 
            class="form-control" 
            id="to" 
            formControlName="to">
      <div *ngIf="formViewInactiveDoctors.get('to').errors?.required && formViewInactiveDoctors.get('to').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <!-- /To date entry -->
  
    <button class="btn-primary" [disabled]="!formViewInactiveDoctors.valid" (click)="clickViewInactiveDoctors()">Choose</button>
  
  </form>

</div>