<div class="container">
  <form [formGroup]="formViewFreePatients">
    Click to see the Patients who are waiting for a consultation:
    <button class="btn btn-primary" (click)="clickViewFreePatients()">
      Choose
    </button>
  </form>

  <div id="wrapper">
    <div
      class="card cards-margin"
      style="width: 18rem"
      *ngFor="let patient of listOfPatients; let id = index;">
      <img src="/assets/img/user.png" class="card-img-top" alt="..."  width="128px" height="256px" />
      <div class="card-body">
        <h5 class="card-title">Patient: {{patient.username}}</h5>
        <p *ngIf="!!patient.firstName" class="card-text">FirstName: {{ patient.firstName | titlecase }}</p>
        <p  *ngIf="!!patient.lastName" class="card-text">LastName: {{ patient.lastName | titlecase }}</p>
        <p *ngIf="!!patient.city" class="card-text">City: {{ patient.city | titlecase}}</p>
        <hr/>
        <p  class="card-text">Days waiting: {{ days[id] }}</p>
      </div>
    </div>
  </div>
</div>
