<div class="bg-img">
  <!-- Login Form -->
  <div class="box1">Sacchon Platform</div>
  <form [formGroup]="formLogin" id="loginForm">
    <div class="box form-group">
      <div class="form-group mr-2">
        <input type="text" id="username" class="form-control" name="username" placeholder="Username"
          formControlName="username" />
      </div>
      <div class="form-group mr-2">
        <input type="password" id="password" class="form-control" name="password" placeholder="Password"
          formControlName="password" />
      </div>
      <div class="form-group mr-2">
        <button class="btn btn-primary" (click)="logIn()">Log In</button>
        <hr />
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Create a new account
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" [routerLink]="['/registerDoctor']">Create a doctor account</a>
            <a class="dropdown-item" [routerLink]="['/registerPatient']">Create a patient account</a>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>