<div class="container">

  <h5 class="mt-2" style="text-align: center;">My patients</h5>
  <hr/>
  <div *ngIf="!listOfMyPatients.length"><div class="alert alert-danger" style="text-align: center;" role="alert">
    You are currently not managing any patients.
  </div></div>

  <div id="wrapper">
    <div
      class="card cards-margin"
      style="width: 18rem"
      *ngFor="let patient of listOfMyPatients; let id = index;">
      <img src="/assets/img/user.png" class="card-img-top" alt="..."  width="128px" height="256px" />
      <div class="card-body">
        <h5 class="card-title">Patient: {{patient.username}}</h5>
        <p class="card-text">id: {{ patient.patient_id }}</p>
        <p *ngIf="!!patient.firstName" class="card-text">FirstName: {{ patient.firstName | titlecase }}</p>
        <p *ngIf="!!patient.lastName" class="card-text">LastName: {{ patient.lastName | titlecase }}</p>
        <p *ngIf="!!patient.city" class="card-text">City: {{ patient.city | titlecase}}</p>
        <p *ngIf="!!patient.diabetesType" class="card-text">Diabetes Type: {{patient.diabetesType | titlecase}}</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl"(click)="seedata(patient.patient_id)">
          See patient records
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" [routerLink]="['/insertNote',patient.patient_id]">Insert New Condulation</button>
      </div>
    </div>
  </div>
</div>

<!-- Extra Large Modal -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Patient records</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-4">
            <div class="card" style="width: 15rem;" *ngFor="let c of data1; let i = index">
              <div class="card-header">Carb #{{i+1}}</div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Grams: {{c.gram}}</li>
                  <li class="list-group-item">Date: {{c.date | date: 'dd MMM yyyy'}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 15rem;" *ngFor="let g of data2; let i = index">
              <div class="card-header">Glucose #{{i+1}}</div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">MG: {{g.measurement}}</li>
                  <li class="list-group-item">Date: {{g.dateTime | date: 'dd MMM yyyy'}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 15rem;" *ngFor="let n of data3; let i = index">
              <div class="card-header">Notes #{{i+1}}</div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Id: {{n.id}}</li>
                  <li class="list-group-item">Note: {{n.message}}</li>
              </ul>
              <!-- <div class="btn-group" role="group">
                <button type="button" class="btn btn-light" [routerLink]="['/updateNote']">Update</button>
              </div> -->
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>