@import '~bootstrap/scss/bootstrap.scss';

#logoutBtn {
    position:fixed;
    right:10px;
    top:5px;
}

#menu{
    display: flex;
    justify-content: space-evenly;
}

.container {
    // margin: auto;
    // padding: auto;
    // width: 100%;
    // display: inherit;
}


