<div class="container">
  <form [formGroup]="formViewDoctorNotes">
 
    Click to see all consulatations of a specific doctor over a time range:
    <button class="btn btn-primary" (click)="clickViewDoctorNotes()">
      Choose
    </button>
    
  
        <!-- Id's entry -->
        <div class="form-group">
          <label for="formGroupExampleInput">id</label>
          <input type="text" 
                 class="form-control" 
                 id="id" 
                 placeholder="Enter doctor's id" 
                 formControlName = "id">
          <div *ngIf="formViewDoctorNotes.get('id').errors?.required && formViewDoctorNotes.get('id').dirty" class="text-danger">
            Field is required
          </div>
        </div>  
        <!-- /Id's entry -->

    <!-- From date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date from</label>
      <input type="date" 
             class="form-control" 
             id="from" 
             placeholder="Enter from date" 
             formControlName = "from">
      <div *ngIf="formViewDoctorNotes.get('from').errors?.required && formViewDoctorNotes.get('from').dirty" class="text-danger">
        Field is required
      </div>
    </div>  
    <!-- /From date entry -->
  
    <!-- To date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date to</label>
      <input type="date" 
            class="form-control" 
            id="to" 
            formControlName="to">
      <div *ngIf="formViewDoctorNotes.get('to').errors?.required && formViewDoctorNotes.get('to').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <!-- /To date entry -->
  

 
  
  </form>
</div>