<div class="container">
  <form [formGroup]="formViewDoctorNotes">
 
    Click to see all consulatations of a specific doctor over a time range:
    <button class="btn btn-primary" (click)="clickViewDoctorNotes()">
      Choose
    </button>
    
  
        <!-- Id's entry -->
        <div class="form-group">
          <label for="formGroupExampleInput">id</label>
          <input type="text" 
                 class="form-control" 
                 id="id" 
                 placeholder="Enter doctor's id" 
                 formControlName = "id">
          <div *ngIf="formViewDoctorNotes.get('id').errors?.required && formViewDoctorNotes.get('id').dirty" class="text-danger">
            Field is required
          </div>
        </div>  
        <!-- /Id's entry -->

    <!-- From date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date from</label>
      <input type="date" 
             class="form-control" 
             id="from" 
             placeholder="Enter from date" 
             formControlName = "from">
      <div *ngIf="formViewDoctorNotes.get('from').errors?.required && formViewDoctorNotes.get('from').dirty" class="text-danger">
        Field is required
      </div>
    </div>  
    <!-- /From date entry -->
  
    <!-- To date entry -->
    <div class="form-group">
      <label for="formGroupExampleInput">Date to</label>
      <input type="date" 
            class="form-control" 
            id="to" 
            formControlName="to">
      <div *ngIf="formViewDoctorNotes.get('to').errors?.required && formViewDoctorNotes.get('to').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <!-- /To date entry -->
  
    <div id="wrapper">
      <div
        class="card cards-margin"
        style="width: 18rem"
        *ngFor="let note of listOfNotes; let id = index;">
        <img src="/assets/img/user.png" class="card-img-top" alt="..."  width="128px" height="256px" />
        <div class="card-body">
          <h5 class="card-title">Note: {{note.id}}</h5>
          <p *ngIf="!!note.message" class="card-text">note: {{ note.note | titlecase }}</p>
          <p  *ngIf="!!note.date" class="card-text">date: {{ note.date | titlecase }}</p>
          <hr/>
        </div>
      </div>
  </div>

  </form>
</div>