<nav>
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="doctor/" role="button" aria-haspopup="true" aria-expanded="false">Doctor</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="doctor/">Something about the doctor</a>
          <a class="dropdown-item" href="doctor/">Something more about the doctor</a>
          <a class="dropdown-item" href="doctor/">Something even more about the doctor</a>
        </div>
      </li>
    </ul>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>